/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0% 1.5% 0% 1.5%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0% 0% 0%;
    border: 5px solid;
    border-color: black;
    max-width: 482px;
}

.col2 {
    display: block;
    float:left;
    margin: 1% 0% 0% 0%;
    border: 5px solid;
    border-color: black;
    max-width: 318px;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
	text-align:center;
	margin-left:4.5px;
}
.span_2_of_3 {
    width: 100%;
	float:right;
}
.span_1_of_3 {
    width: 100%;
	float:left;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
.box {
    display: block;
    float:left;
    border: 5px solid;
    border-color: black;
	margin: 1% 0% 0% 0%;
}