@charset "utf-8";
/* CSS Document */
  /* full width horizontal first-level submenus */
#nav .menu_normal > li {
    position: static !Important;
}

#nav .menu_normal > li > .sub-menu  {
    left: 0 !Important;
    right: 0 !Important;
}

#nav .menu_normal > li > .sub-menu > li {
    float: left !Important;
}

#nav .menu_normal > li > .sub-menu > li > a > .label_holder {
    width: auto !Important;
}

    /* increase the font size of first-level submenus */
#nav .menu_normal > li > .sub-menu > li {
    font-size: 15px !Important;
}
    /* remove the horizontal separator between first-level submenu items (it can be done in the theme editor) */
#nav .menu_normal > li > .sub-menu > li {
    border-top: 0 !Important;
}
    /* add vertical separators between first-level submenu items */
#nav .menu_normal > li > .sub-menu > li {
    border-left: 1px solid #4f4d49;
}
#nav .menu_normal > li > .sub-menu > li:first-child {
    border-left: 0;
}
    /* decrease the right padding of first-level submenu folder labels (submenu items that has a submenu) */
#nav .menu_normal > li > .sub-menu > li > a > .label_holder {
    padding-right: 6px !Important;
}
    /* Change the opening direction of the second level submenus to downward */
#nav .menu_normal > li > .sub-menu > li > .sub-menu {
    left:0; right:auto; top:100%; bottom:auto;
}